@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	:root {
		--background: 0 0% 100%;
		--foreground: 240 10% 3.9%;

		--card: 0 0% 100%;
		--card-foreground: 240 10% 3.9%;

		--popover: 0 0% 100%;
		--popover-foreground: 240 10% 3.9%;

		--primary: 240 5.9% 10%;
		--primary-foreground: 0 0% 98%;

		--secondary: 240 4.8% 95.9%;
		--secondary-foreground: 240 5.9% 10%;

		--muted: 240 4.8% 95.9%;
		--muted-foreground: 240 3.8% 46.1%;

		--accent: 240 4.8% 95.9%;
		--accent-foreground: 240 5.9% 10%;

		--destructive: 0 84.2% 60.2%;
		--destructive-foreground: 0 0% 98%;

		--border: 240 5.9% 90%;
		--input: 240 5.9% 90%;
		--ring: 240 10% 3.9%;

		--radius: 0.5rem;
	}

	.dark {
		--background: 240 10% 3.9%;
		--foreground: 0 0% 98%;

		--card: 240 10% 3.9%;
		--card-foreground: 0 0% 98%;

		--popover: 240 10% 3.9%;
		--popover-foreground: 0 0% 98%;

		--primary: 0 0% 98%;
		--primary-foreground: 240 5.9% 10%;

		--secondary: 240 3.7% 15.9%;
		--secondary-foreground: 0 0% 98%;

		--muted: 240 3.7% 15.9%;
		--muted-foreground: 240 5% 64.9%;

		--accent: 240 3.7% 15.9%;
		--accent-foreground: 0 0% 98%;

		--destructive: 0 62.8% 30.6%;
		--destructive-foreground: 0 0% 98%;

		--border: 240 3.7% 15.9%;
		--input: 240 3.7% 15.9%;
		--ring: 240 4.9% 83.9%;
	}
	.mocha {
		--background: 240 21.053% 14.902%; /* base */
		--foreground: 226.154 63.934% 88.039%; /* text */

		--muted: 236.842 16.239% 22.941%; /* surface0 */
		--muted-foreground: 226.667 35.294% 80%; /* subtext1 */

		--popover: 240 21.053% 14.902%; /* base */
		--popover-foreground: 226.154 63.934% 88.039%; /* text */

		--card: 240 21.053% 14.902%; /* base */
		--card-foreground: 226.154 63.934% 88.039%; /* text */

		--border: 234.286 13.208% 31.176%; /* surface1 */
		--input: 234.286 13.208% 31.176%; /* surface1 */

		--primary: 267.407 83.505% 80.98%; /* mauve */
		--primary-foreground: 240 21.053% 14.902%; /* base */

		--secondary: 236.842 16.239% 22.941%; /* surface0 */
		--secondary-foreground: 226.154 63.934% 88.039%; /* text */

		--accent: 236.842 16.239% 22.941%; /* surface0 */
		--accent-foreground: 226.154 63.934% 88.039%; /* text */

		--destructive: 343.269 81.25% 74.902%; /* red */
		--destructive-foreground: 240 21.311% 11.961%; /* mantle */

		--ring: 226.154 63.934% 88.039%; /* text */
	}
	.macchiato {
		--background: 231.818 23.404% 18.431%; /* base */
		--foreground: 227.442 68.254% 87.647%; /* text */

		--muted: 230.4 18.797% 26.078%; /* surface0 */
		--muted-foreground: 228 39.216% 80%; /* subtext1 */

		--popover: 231.818 23.404% 18.431%; /* base */
		--popover-foreground: 227.442 68.254% 87.647%; /* text */

		--card: 231.818 23.404% 18.431%; /* base */
		--card-foreground: 227.442 68.254% 87.647%; /* text */

		--border: 231.111 15.607% 33.922%; /* surface1 */
		--input: 231.111 15.607% 33.922%; /* surface1 */

		--primary: 266.512 82.692% 79.608%; /* mauve */
		--primary-foreground: 231.818 23.404% 18.431%; /* base */

		--secondary: 230.4 18.797% 26.078%; /* surface0 */
		--secondary-foreground: 227.442 68.254% 87.647%; /* text */

		--accent: 230.4 18.797% 26.078%; /* surface0 */
		--accent-foreground: 227.442 68.254% 87.647%; /* text */

		--destructive: 351.176 73.913% 72.941%; /* red */
		--destructive-foreground: 233.333 23.077% 15.294%; /* mantle */

		--ring: 227.442 68.254% 87.647%; /* text */

		--radius: 0.5rem;
	}
	.frappe {
		--background: 229.091 18.644% 23.137%; /* base */
		--foreground: 227.234 70.149% 86.863%; /* text */

		--muted: 230 15.584% 30.196%; /* surface0 */
		--muted-foreground: 226.667 43.689% 79.804%; /* subtext1 */

		--popover: 229.091 18.644% 23.137%; /* base */
		--popover-foreground: 227.234 70.149% 86.863%; /* text */

		--card: 229.091 18.644% 23.137%; /* base */
		--card-foreground: 227.234 70.149% 86.863%; /* text */

		--border: 227.143 14.737% 37.255%; /* surface1 */
		--input: 227.143 14.737% 37.255%; /* surface1 */

		--primary: 276.667 59.016% 76.078%; /* mauve */
		--primary-foreground: 229.091 18.644% 23.137%; /* base */

		--secondary: 230 15.584% 30.196%; /* surface0 */
		--secondary-foreground: 227.234 70.149% 86.863%; /* text */

		--accent: 230 15.584% 30.196%; /* surface0 */
		--accent-foreground: 227.234 70.149% 86.863%; /* text */

		--destructive: 358.812 67.785% 70.784%; /* red */
		--destructive-foreground: 230.526 18.812% 19.804%; /* mantle */

		--ring: 227.234 70.149% 86.863%; /* text */

		--radius: 0.5rem;
	}
	.latte {
		--background: 220 23.077% 94.902%; /* base */
		--foreground: 233.793 16.022% 35.49%; /* text */

		--muted: 222.857 15.909% 82.745%; /* surface0 */
		--muted-foreground: 233.333 12.796% 41.373%; /* subtext1 */

		--popover: 220 23.077% 94.902%; /* base */
		--popover-foreground: 233.793 16.022% 35.49%; /* text */

		--card: 220 23.077% 94.902%; /* base */
		--card-foreground: 233.793 16.022% 35.49%; /* text */

		--border: 225 13.559% 76.863%; /* surface1 */
		--input: 225 13.559% 76.863%; /* surface1 */

		--primary: 266.044 85.047% 58.039%; /* mauve */
		--primary-foreground: 220 23.077% 94.902%; /* base */

		--secondary: 222.857 15.909% 82.745%; /* surface0 */
		--secondary-foreground: 233.793 16.022% 35.49%; /* text */

		--accent: 222.857 15.909% 82.745%; /* surface0 */
		--accent-foreground: 233.793 16.022% 35.49%; /* text */

		--destructive: 347.077 86.667% 44.118%; /* red */
		--destructive-foreground: 220 21.951% 91.961%; /* mantle */

		--ring: 233.793 16.022% 35.49%; /* text */

		--radius: 0.5rem;
	}
}

@layer base {
	* {
		@apply border-border;
	}
	body {
		@apply bg-background text-foreground;
	}
}
