@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --text-primary: #fffffff5;
    --text-prose: #ffffffba;
    --text-secondary: #ffffff7c;
    --text-tertiary: #afafaf70;
    --bg-idle: #8080804d;
    --bg-hover: #afafaf0c;
    --bg-active: #afafaf42;
    --bg-darker: #12121233;
    --bg-darker-hover: #1212124d;
    --bg-disabled: #afafaf0c;
    --bg-button-hover-bg: #afafaf30;
    --separator: #afafaf1c;
    --red: #ff453a;
    --orange: #ff9f0a;
    --yellow: #ffd60a;
    --green: #32d74b;
    --mint: #66c4df;
    --cyan: #5ac8f5;
    --blue: #0a84ff;
  }
}
hr {
  @apply border-separator;
}
.recessed {
  @apply bg-bg-darker;
  box-shadow:
    inset 0px -0.5px 1px rgba(255, 255, 255, 0.3),
    inset 0px -0.5px 1px rgba(255, 255, 255, 0.25),
    inset 0px 1.5px 4px rgba(0, 0, 0, 0.08),
    inset 0px 1.5px 4px rgba(0, 0, 0, 0.1);
}
.hover-bg {
  @apply relative overflow-hidden [--hover-bg-colour:--bg-button-hover-bg] before:absolute before:inset-0 before:-z-10 before:opacity-0 before:transition hover:before:opacity-100 disabled:before:opacity-0;
  &::before {
    background: radial-gradient(
      80% 100% at var(--hover-bg-left) var(--hover-bg-top),
      var(--hover-bg-colour),
      transparent
    );
  }
}
.card-pill {
  @apply border;
  border-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='200' height='56' fill='none'%3E%3Crect width='199' height='55' x='.5' y='.5' stroke='url(%23a)' rx='27.5'/%3E%3Cdefs%3E%3ClinearGradient id='a' x1='8.5' x2='31' y1='0' y2='104.537' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%23fff' stop-opacity='.4'/%3E%3Cstop offset='.385' stop-color='%23fff' stop-opacity='0'/%3E%3Cstop offset='.516' stop-color='%23737373' stop-opacity='.021'/%3E%3Cstop offset='.516' stop-color='%23fff' stop-opacity='.01'/%3E%3Cstop offset='1' stop-color='%23fff' stop-opacity='.1'/%3E%3C/linearGradient%3E%3C/defs%3E%3C/svg%3E")
    28 / 32px stretch;
}
.card {
  @apply border;
  border-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='200' height='200' fill='none'%3E%3Crect width='199' height='199' x='.5' y='.5' stroke='url(%23a)' rx='31.5'/%3E%3Cdefs%3E%3ClinearGradient id='a' x1='8.5' x2='100' y1='0' y2='241.5' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%23fff' stop-opacity='.4'/%3E%3Cstop offset='.385' stop-color='%23fff' stop-opacity='0'/%3E%3Cstop offset='.516' stop-color='%23737373' stop-opacity='.021'/%3E%3Cstop offset='.516' stop-color='%23fff' stop-opacity='.01'/%3E%3Cstop offset='1' stop-color='%23fff' stop-opacity='.1'/%3E%3C/linearGradient%3E%3C/defs%3E%3C/svg%3E")
    32 / 32px stretch;
}

.card-sm {
  @apply border;
  border-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='200' height='200' fill='none'%3E%3Crect width='199' height='199' x='.5' y='.5' stroke='url(%23a)' rx='19.5'/%3E%3Cdefs%3E%3ClinearGradient id='a' x1='8.5' x2='100' y1='0' y2='241.5' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%23fff' stop-opacity='.4'/%3E%3Cstop offset='.385' stop-color='%23fff' stop-opacity='0'/%3E%3Cstop offset='.516' stop-color='%23737373' stop-opacity='.021'/%3E%3Cstop offset='.516' stop-color='%23fff' stop-opacity='.01'/%3E%3Cstop offset='1' stop-color='%23fff' stop-opacity='.1'/%3E%3C/linearGradient%3E%3C/defs%3E%3C/svg%3E")
    20 / 20px stretch;
}
